@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lalezar", system-ui;
  list-style-type: none;
  text-decoration: none;
}
:root{
  --primary-color:#fab404;
  --secondary-color:#fff;
  --black-color:#020202;
}
a{
  color: var(--black-color);
}
.logo{
  height: 100px;
  width: 100px;
  border-radius: 15px;
}
.header{
  display: flex;
 
  margin: 0.5% auto;
  align-items: center;
  justify-content: center;
}
.menus ul {
  display: flex;
}
.menus ul li a{
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
}
.menus ul li a:hover {
  background-color: var(--primary-color);
  border-radius: 20px;
  color: var(--secondary-color);
}
.food_bg_container{
  border: 1px solid var(--black-color);
  overflow: hidden;
  height: 800px;
}
.food_bg_container img{
  width: 100%;
  height: 100%;
 object-fit: fill;
}
.admin_container{
  background-color: var(--primary-color);
  border: 1px solid black;
  height: 1000px;
  width: 100%;
}
h2{
  margin: 10px 10px 0px 900px;
  color: var(--secondary-color);
  font-size: 2.0em;
}
.loginForm{
  padding: 20px;
  margin:2% auto;
  background-color: var(--secondary-color);
  display: flex;
  width: 500px;
 flex-direction: column;
  border: 3px solid black;
}
.loginForm input{
  padding: 10px;
  margin: 5px;
  font-size: 1.0em;
}
.loginForm button{
  border: none;
  cursor: pointer;
  width: 200px;
  padding: 10px;
  margin: 5px 95px;
  font-size: 1.2em;
}
.loginForm button:hover{
  color:var(--secondary-color);
  background-color: var(--primary-color);
}
.admin_dashboard{
  height: 500px;
  width: 500px;
  margin: 5% auto;
}